@import "../../styles/variables";
@import "../../styles/mixins";

.walletsToolbar {
  position: absolute;
  top: 14px;
  right: 5%;

  .btn {
    appearance: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

    &:hover {
      box-shadow: 0 0 40px 40px $red inset;
    }

    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.walletsSection {
  height: 100%;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;

  .currencySelect {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    color: inherit;
    background: rgba(0, 0, 0, 0.13);
    @include pxToRem(width, 150);
    @include pxToRem(font-size, 40);
    @include pxToRem(margin-top, -10);
  }

  .balanceText {
    text-align: center;
    @include pxToRem(font-size, 30);
    @include pxToRem(margin-top, 30);
  }

  .loaderContainer {
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
  }

  .walletsSummaryContainer {
    flex: 0.5;
    background: $primaryBgColor; /* fallback for old browsers */
    background: $primaryBgGradientColor; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;

    .transactionSummary {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      > div {
        align-self: center;
      }
    }
  }

  .transactionListContainer {
    flex: 0.5;
    background-color: #ffffff;
    position: relative;
    color: $primaryBgColorSpreadTo;
  }
}