$font-size-px-to-rem: 16;
$color-white: #fff;
$primaryBgColor: #ff9966;
$primaryBgGradientColor: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$primaryBgColorSpreadTo: #ff5e62;
$header-height: 60px;
$red: #e74c3c;
$toast-default-message: #5a5f62;