@import "../../styles/variables";
@import "../../styles/mixins";

.exchangeToolbar {
  position: absolute;
  top: 14px;
  right: 5%;

  .btn {
    appearance: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

    &:hover {
      box-shadow: 0 0 40px 40px $red inset;
    }

    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .walletBtn {
    @include pxToRem(margin-right, 15);
  }
}

.exchangeSection {
  height: 100%;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;

  .loaderContainer {
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
  }

  .pocketContainerFrom {
    flex: 0.5;
    background: $primaryBgColor; /* fallback for old browsers */
    background: $primaryBgGradientColor; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
  }

  .pocketContainerTo {
    flex: 0.5;
    background-color: #ffffff;
    position: relative;
    color: $primaryBgColorSpreadTo;
  }
}