@import "../../../styles/mixins";

.transactionListItemSection {
  display: flex;
  @include pxToRem(padding, 10);

  &:hover {
    background-color: #fafafa;
  }

  .logo > img {
    @include pxToRem(width, 44);
    @include pxToRem(padding-top, 10);
  }

  .description {
    flex: 1;
    color: black;
    @include pxToRem(font-size, 18);
    @include pxToRem(padding-left, 20);
    @include pxToRem(padding-top, 10);

    > div:last-child {
      color: #9E9E9E;
      @include pxToRem(font-size, 15);
    }
  }

  .amount {
    @include pxToRem(padding-top, 10);

    > div:first-child {
      @include pxToRem(font-size, 18);
      color: #000;
      text-align: end;
    }

    > div:last-child {
      @include pxToRem(font-size, 15);
      text-align: end;
    }
  }
}