@import "../../../styles/mixins";

.exchangeFlowIcon {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ff9966;
  position: absolute;
  bottom: -15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 99;
}

.pocketItemContainer {
  @include pxToRem(font-size, 32);
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  transform: translateY(-50%);

  .exchangeRate {
    display: flex;
    @include pxToRem(margin-top, 10);
    @include pxToRem(font-size, 13);
    font-weight: 500;
    color: inherit;
    justify-content: space-between;
  }

  .pocketItems {
    display: flex;
    height: 60px;

    .currencySelect {
      @include pxToRem(margin-right, 30);
      @include pxToRem(width, 130);
      background: rgba(0, 0, 0, 0.13);
      border: none;
      border-radius: 5px;
      outline: none;
      @include pxToRem(font-size, 30);
      padding: 0 10px;
      color: inherit;
    }

    .currencyField {
      background: transparent;
      flex: auto;
      border: none;
      outline: none;
      @include pxToRem(font-size, 35);
      text-align: right;
      color: inherit;
    }
  }
}